*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    line-height: 1.6;
    min-height: 100vh;
}
header{
    height:80px;
}
.container{
    width:100%;
    height: 100%;
    background:linear-gradient(180deg,black , gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 50px;
    margin-left:5rem;
}
.navbar{
    margin-right: 5rem;
}
.navbar ul{
    display: flex;
    gap:5rem;
    list-style: none;
}
.navbar ul li a{
    color:white;
    text-decoration: none;
}
main{
    position:relative;
    min-height: 100vh;
}
main .intro{
    background-color: yellow;
    width: 100%;
    height: 600px; /* was 40% */
    position: relative;
    background: url(../degla-images/banner.jpg) no-repeat  center/cover;
    background-size: 100%;
}
main .intro .left{
    position: absolute;
    left: 0;
}
main .intro .right{
    position:absolute;
    right:0;
}
main .intro .find{
    background-color: black;
    width: 350px;
    height: 120px;
    border-radius:20px ;
    position: absolute;
    left:-300px;
    top:20%;
    transition: all 1s ease-out;

}
main .intro .find:hover{
    left:0;
}
main .intro .find img{
    position: absolute;
    right: 5%;
    top:30%;
    width:40px;
}
.intro .find form{
    position: absolute;
    top:40%;
    left:10%
}
.intro .find form input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
.cards{
    height: 300px; /* was 20% */
    display: flex;
    justify-content: space-around;
    position: relative;
}
.card{
    width:20%;
    height: 100%;
    border: 5px solid rgb(218, 194, 7);
    background: url(../degla-images/tennisacademy.jpg) no-repeat center/contain;
    background-color: white;
    position:relative;
    top:-50px; /* was -15% */
}
h2{
    font-size:3rem;
    word-spacing: 0.1rem;
    color: rgb(6, 79, 158);
    width:50%;
    margin:0.5rem auto;
    text-align: center;
    font-weight: bold;
}
hr{
    color: rgb(116, 116, 116);
    margin:0 auto;
    width:20%;
}
.goals{
    width:100%;
    height: 400px; /* was 30% */
    display:flex;
    margin-top:1rem;
    justify-content: space-between;
    align-items: center;
}
.goals .text{
    margin-left:1rem;
    max-width: 30%;
    color:rgb(6, 79, 158);
}
.goals .text h3{
    font-weight: bold;
}
.goals .logo {
    margin-right: 2rem;
    width: 50%;
}
.goals .logo img {
     width: 50%;
    border-radius: 10px;
}
.schedule-table {
    width: 100%; 
    border-collapse: collapse; 
}
.schedule-table tr:nth-child(even) {
    background-color: #b8b6b68c; 
}
.schedule-table td {
    padding-top: 12px;
    padding-bottom: 12px;
}
.day-cell {
    padding-left: 300px; 
}
.time-cell {
    text-align: right; 
    white-space: nowrap;
    padding-right: 300px; 
}
.boxes{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border: 3px solid black;
    width: 25%;
    height: 100%;
}
.box img{
    margin:1rem 3rem;
    width: 80%;
}
 main .block{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block .containerr{
    width: 80%;
    height: 350px; /* was 70% */
    background-color:rgb(218, 194, 7); 
    display: flex;
    justify-content: space-between;
    gap:2rem;
}
.containerr .picture img{
    margin-top:2rem;
    width:80%;
}
.containerr .vid{
    margin-right: 7rem;
    margin-top:2rem;
    width:30%
}
.containerr .vid iframe{
    height: 95%;
}
.map{
    width: 100%;
    height:500px;
}
.map iframe{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    background-color: black;
    color: white; 
    padding: 20px 0; 
}
footer p{
    color: white;
    text-align: center;
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 36px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  padding: 0;
  margin-left: 12px;
  background: rgba(0,0,0,0.06);
  transition: background-color 0.25s ease, color 0.25s ease;
}


.theme-toggle:hover,
.theme-toggle:focus {
  background: rgba(0,0,0,0.12);
  outline: none;
}


body.dark-mode {
  background-color: #0f1113;
  color: #e6e6e6;           
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #0b0c0d;
  color: #e6e6e6;
}
/* links */
body.dark-mode a {
  color: #e6e6e6;
}

body.dark-mode .theme-toggle {
  background: rgba(255,255,255,0.06);
  color: #ffd84d; /* keep the moon/sun visible */
}

body, header, footer, .container, .navbar, .intro, .cards, .boxes, .block {
  transition: background-color 0.25s ease, color 0.25s ease;
}

